    .about-img {
      width: 350px;
      height: 450px;
    }

    .product-img {
      width: 250px;
      height: 250px;
      object-fit: contain;
    }

    .product-div {
      border: 1px solid rgb(0, 136, 154);
      border-radius: 5px;
    }

    .product-details {
      border-top: 1px solid gray;
    }

    .product-div:hover {
      box-shadow: 0px 0px 5px black;
      background-color: rgb(169, 169, 169);
    }
  